/*---------- General settings ------------------*/
.pokemons {
    display: grid; /*Aqui transforma a lista em tabela*/
    grid-template-columns: 1fr; /*Aqui divide em colunas com um elemento em cada. Cada '1fr' significa uma coluna.*/
    list-style: none;
    padding: 0;
    margin: 0;
}

/*-------------- Background-color by class -------------------------*/
.normal {
    background-color: #a6a877;
}
.grass {
    background-color: #77c850;
}
.fire {
    background-color: #ee7f30;
}
.water {
    background-color: #678fee;
}
.electric {
    background-color: #f7cf2e;
}
.ice {
    background-color: #98d5d7;
}
.ground {
    background-color: #dfbf69;
}
.flying {
    background-color: #a98ff0;
}
.poison {
    background-color: #a040a0;
}
.fighting {
    background-color: #bf3029;
}
.psychic {
    background-color: #f65687;
}
.dark {
    background-color: #725847;
}
.rock {
    background-color: #b8a137;
}
.bug {
    background-color: #a8b720;
}
.ghost {
    background-color: #6e5896;
}
.steel {
    background-color: #b9b7cf;
}
.dragon {
    background-color: #6f38f6;
}
.fairy {
    background-color: #f9aec7;
}

/*------------------------------------------------------------------------------------*/
.pokemon {
    display: flex; /*Aqui organiza os elementos um do lado do outro ou um em baixo do outro (com 'flex-direction')*/
    flex-direction: column; /*'column' define um abaixo do outro e 'row' um ao lado do outro*/
    position: relative;
    height: 12rem;
    margin: 0 0.5rem 1rem;
    color: #fff;
    border-radius: 1rem;
    box-shadow: 0 0 2px #5e5d5d6b;
}

#backimg {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-16%, -50%);
    max-width: 59%;
    opacity: .05;
}

.pokemon .number {
    margin: 10px 10px 0 10px;
    color: #000;
    opacity: .3;
    text-align: right;
    font-size: .625rem;
}

.pokemon .name {
    color: #fff;
    margin: 0 10px;
    text-transform: capitalize; /* Faz com que a primeira letra seja maiúscula e restante minúscula*/
}

.pokemon .detail {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    max-width: 100%;
    position: relative;
    margin: 0 10px;
}

.pokemon .detail .types {
    padding: 0;
    margin: 0;
    list-style: none;
}

.pokemon .detail .types .type {
    color: #fff;
    padding: .25rem .5rem;
    margin: .25rem 0;
    font-size: .625rem;
    border-radius: 1rem;
    text-align: center;
    filter: brightness(1.1); /* 'filter: brightness' altera o brilho do elemento*/
    box-shadow: 0 0 1px #ffffffd3;
}

.pokemon .detail img {
    max-width: 100%;
    height: 70px;
    /* align-self: flex-end; aqui alinha as imagens à direita. Obs: esta é uma propriedade do 'display: flex' */
}

.pokemon button {
    filter: brightness(1.08);
    position: relative;
    top: 1rem;
    padding: .25rem .5rem;
    margin: 10px;
    font-size: .625rem;
    color: #fff;
    border: none;
    border-radius: 1rem;
    box-shadow: 0 0 2px #3636368f;
    cursor: pointer;
}

/*--------- Status settings -------------------*/
.stats {
    z-index: 1;
    display: none;
    height: 100%;
    padding: 10px;
    border-radius: 1rem;
    background-color: #fafafc;
    box-shadow: 0 0 4px #5e5d5d6b;
}

.stats .stat {
    width: 100%;
    display: grid;
    grid-template-columns: 2fr 1fr 3fr;
    align-items: center;
    padding: 0 4px;
    list-style: none;
}

.stats .stat li {
    display: inline-block;
    max-width: 100%;
    padding: 0 2px;
    font-size: 0.6rem;
    color: #2e2e2ecc;
    text-transform: capitalize;
}

.stats .values li {
    margin: 5px 0;
    font-size: 0.6rem;
    color: #2e2e2ecc;
}

.stats .stat .values {
    justify-self: center;
}

.stats .stripeList {
    width: 100%;
}

.stats .stripeList .backgroundStripe {
    height: 4px;
    background-color: #e1e1e1;
    border-radius: 1rem;
}

.stats .stripeList .backgroundStripe div {
    height: 100%;
    border-radius: 1rem;
}


/*-------- Pages and mediaQuery ----------------*/
.pagination {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 1rem;
}

.pagination button {
    padding: .25rem .5rem;
    margin: .25rem 0;
    font-size: .625rem;
    color: #fff;
    background-color: #6c79db;
    border: none;
    border-radius: 1rem;
    cursor: pointer;
}

@media screen and (min-width: 380px){
    .pokemons {
        grid-template-columns: 1fr 1fr;
    }

    #backimg {
        transform: translate(-34%, -50%);
        max-width: 75%;
    }
}

@media screen and (min-width: 576px){
    .pokemons {
        grid-template-columns: 1fr 1fr 1fr;
    }

    #backimg {
        transform: translate(-21%, -50%);
        max-width: 63%;
    }
}

@media screen and (min-width: 992px){   
    .pokemons {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}